* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  color: brown;
  margin-bottom: 3rem;
  text-align: center;
}

h1:hover {
  color: goldenrod;
}

p {
    text-align: center;
}
.imagen {
  display: flex;
}

.imagen img {
  width: 75px;
}

